@charset "utf-8";

body {

  font-family: "STIX Two Text", serif;
  padding: 5px;
}

* {
  box-sizing: border-box;
}

.containner {
  display: flex;
  width: 70%;
  background-color: #eeeeee;
  /* padding: 5px 20px 15px 10px; */
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 15px auto;
}

.info {
  flex: 1;
  width: auto;
  width: 100%;
  line-height: 45px;
  margin: 20px;
  margin-left: 25%;
  width: 150%;
  flex: 50%;
  font-size: 18px;
}

.payment {
  flex: 2;
  line-height: 45px;
  width: 50%;
  margin-left: 40%;
  font-size: 18px;
}

.info input {
  width: 120%;
  margin-bottom: 16.2px;
  padding: 10px;
}

.payment input {
  width: 65%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 18px;
}

.cc_icon {
  margin-bottom: 10px;
}

#payment {
  text-decoration: none;
  background-color: #222831;
  color: #eeeeee;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}

#payment:hover {
  background-color: #393e46;
}

#payment:active {
  background-color: #222831;
  color: #eeeeee;
}
